<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@ViewBag.Title</title>
<link rel="stylesheet" href="../../Content/mytheme/styles.css" type="text/css" />
			
            
<script type="text/javascript" src="../../Content/mytheme/js/jquery.js"></script>
<script type="text/javascript" src="../../Content/mytheme/js/slider.js"></script>
<script type="text/javascript" src="../../Content/mytheme/js/superfish.js"></script>
<script type="text/javascript" src="../../Scripts/galleria/galleria-1.2.2.js"></script>
<script type="text/javascript" src="../../Scripts/galleria/galleria.classic.js"></script>
<link rel="stylesheet" href="../../Scripts/galleria/galleria.classic.css" type="text/css"/>

</head>

<body class="homepage">
<div id="container">
	<div id="header">
    	<h1><a href="/">Kallivayalil <strong>Family</strong></a></h1>
        <h2>Bringing our family together!</h2>
        <div class="clear"></div>
    </div>
    <div id="nav">
    	<ul class="sf-menu dropdown">
        	<li class="selected"><a href="#">Our Family</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Tab1</a></li>
            <li><a href="#">Tab2</a></li>
        </ul>
    </div>
    
       <div id="slides-container" class="slides-container"> 
        <div id="galleria">
            	<img title="Snail"
            	     alt="Beautiful Snail.. (Any title for a picture)" 
            	     src="../../Content/images/img1.jpg"/>
                <img title="Flowers"
                     alt="”White flowers in the green back ground.”"
                     src="../../Content/images/img2.jpg"/>
                <img title="Trees"
                     src="../../Content/images/img3.jpg"/>
                <img title="Beach"
                     alt="Pacific Blue!!!"
                     src="../../Content/images/img4.jpg"/>
                <img title="Bright Sun"
                     src="../../Content/images/img5.jpg"/>
                <img title="Forest"
                     alt="The definition of green."
                     src="../../Content/images/img6.jpg"/>
        </div>
        </div>

        <script type="text/javascript">

            $('#galleria').galleria({
                autoplay: 7000, // will move forward every 7 seconds
                height: 265,
                width: 620
            });

    </script>
      
    <div id="body">            
	    <div id="content">
            <div class="box">
                @RenderBody()  
            </div>
            </div>        
            <div class="sidebar">
            <ul>	
               <li>
                    <h4><span>Todays<strong>Events</strong></span></h4>
                    <ul class="blocklist">
                        <li><a href="#">Event 1</a></li>
                        <li><a href="#">Event 2</a></li>
                        <li><a href="#">Event 3</a></li>
                        <li><a href="#">Event 4</a></li>
                        <li><a href="#">Event 5</a></li>
                    </ul>
                </li>
                
                <li>
                    <h4><span>Birthdays</span></h4>
                     <ul class="blocklist">
                        <li><a href="#">Birthday 1</a></li>
                        <li><a href="#">Birthday 2</a></li>
                    </ul>
                </li>
                
                <li>
                    <h4 class="h4"><span><strong>Anniversaries</strong></span></h4>
                     <ul class="blocklist">
                        <li><a href="#">Anniversary 1</a></li>
                        <li><a href="#">Anniversary 2</a></li>
                    </ul>
                </li>
                
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>

    
</div>

<div id="footer">
      <div class="footer-content">

        <div class="footer-box">
            <h4>About our site</h4>

            <p>
               This is family website developed to connect with the family across the globe. This websites has no commercial intentions
               and does not make any profit other than family bonding. 
            </p>
        </div>
        
        <div class="footer-box">
            <h4>Contacts</h4>

            <ul>
              <li><a href="#">Contact 1</a></li>
              <li><a href="#">Contact 2</a></li>
              <li><a href="#">Contact 3</a></li>
            </ul>
        </div>
        
        <div class="footer-box end-footer-box">
            <h4>Search our site</h4>

            <form action="#" method="get">
                <p>
                    <input type="text" id="searchquery" size="18" name="searchterm" />

                    <input type="submit" id="searchbutton" value="Search" class="formbutton" />
                </p>
            </form>
        </div>     
        <div class="clear"></div> 
    </div>
    <div id="footer-links">

            <p>&copy; Copyright 2011 Kallivayalil Family. All rights reserved. Website designed with help of <a href="http://www.spyka.net">spyka</a> 
    </div>  
</div>

</body>
</html>
