
/Src/Services/KallivayalilService/obj/Debug/Kallivayalil.dll
/Src/Services/KallivayalilService/obj/Debug/Kallivayalil.pdb
/Src/Services/KallivayalilService/obj/Debug/KallivayalilService.csproj.FileListAbsolute.txt
/Src/Services/KallivayalilService/obj/Debug/ResolveAssemblyReference.cache
/Src/Services/KallivayalilService/obj/Debug/TempPE
/Src/Services/KallivayalilService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Src/Services/KallivayalilService/*.user
/Src/Services/KallivayalilService/*.suo
/Src/Services/KallivayalilService/_ReSharper*

/Src/Services/KallivayalilService/Client/obj/Debug/*.*
/Src/Services/KallivayalilService/WebService/obj/Debug/*.*
/Src/Services/KallivayalilService/WebService/*.user
/Src/Services/KallivayalilService/Common/obj/Debug/*.*
/Src/Services/KallivayalilService/Domain/obj/Debug/*.*
/Src/Services/KallivayalilService/obj/Debug/*.*
/Src/Services/DataAccess/obj/Debug/*.*
/Src/Services/Tests.Unit/obj/Debug/*.*
/Tests/Tests.Common/obj/Debug/*.*
/Tests/Tests.Integration/obj/Debug/*.*
/Tests/Tests.Integration/bin/Debug/Constituent/*.*
/Tests/Tests.Integration/bin/Debug/ConstituentName/*.*
/Tests/Tests.Integration/bin/Debug/LuceneIndex/Constituent/*.*
/Tests/Tests.Integration/bin/Debug/LuceneIndex/ConstituentName/*.*


/Src/Services/KallivayalilService/Client/bin/Debug/*.*
/Src/Services/KallivayalilService/WebService/bin/*.*
/Src/Services/KallivayalilService/Common/bin/Debug/*.*
/Src/Services/KallivayalilService/Domain/bin/Debug/*.*
/Src/Services/KallivayalilService/bin/Debug/*.*
/Src/Services/DataAccess/bin/Debug/*.*
/Src/Services/Tests.Unit/bin/Debug/*.*
/Tests/Tests.Common/bin/Debug/*.*
/Tests/Tests.Integration/bin/Debug/*.*

/Src/Client/Website/Website.suo
/Src/Client/Website/Website/Website.csproj.user
/Src/Client/Website/Website.5.1.ReSharper.user
/Src/Client/Website/Website/bin/*.*
/Src/Client/Website/Website/obj/*.*
/Src/Client/Website/Website/obj/Debug/*.*

/Build/b.log

/DB/output.sql
/DB/output-undo.sql
