<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=(local);Initial Catalog=kallivayalil;Integrated Security=True;" />
    <add key="Email.UserName" value="kallivayalil.family@gmail.com" />
    <add key="Email.Password" value="anavalaril" />
  </appSettings>
</configuration>