@model Website.Models.Constituent

<div>
<p>
 Welcome @Model.Name.PreferedName
</p>
            <ul id="HomeMenu">
              <li>@Html.ActionLink("Phone", "Index", "Phone", new {}, new { })</li>
              <li>Email</li>
            </ul>     

</div>